[repo]
owner = win2l
name = bus-time-database
branch = master

[build]
make-target = database
made-file-name = bustime.db
version-tag-prefix = db-schema-version-

[deploy]
url = http://bustime-backend-john-doe.herokuapp.com/databases
signature-key-file = /home/john.doe/bus-time-deployment-key.private
