[repo]
owner = win2l
name = bus-time-database
branch = master

[build]
make-target = database
made-file-name = bustime.db

[deploy]
url = http://bustime-backend-user.herokuapp.com/databases
signature-key-file = /home/user/firstname.lastname
